@import '~bootstrap/scss/bootstrap';
@font-face {
	 font-family: 'Niramit';
	 src: url('public/Niramit/Niramit-ExtraLight.ttf') format('truetype');
}
@font-face {
	 font-family: 'Tenali Ramakrishna';
	 src: url('public/Tenali_Ramakrishna/TenaliRamakrishna-Regular.ttf') format('truetype');
}
.body-content {
  background-color: #121212;
  font-family: 'Niramit';
  color: #aca3c4;
}
h1 {
  font-family: 'Tenali Ramakrishna';
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
  color: #ffffff;
}
.box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2rem;
  padding: 1rem;
  background-color: #5f4b8b1F;
}
.link {
  color: #cf6679;
  text-decoration: underline;
}
.resume,
.quote,
.skills {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.photo img {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.project img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.sticky-footer {
  flex-shrink: none;
}
