@import '~bootstrap/scss/bootstrap';
 @font-face {
	 font-family: 'Raleway Extra Bold';
	 src: url('public/Raleway/Raleway-ExtraBold.ttf') format('truetype');
}
 @font-face {
	 font-family: 'Raleway';
	 src: url('public/Raleway/Raleway-Regular.ttf') format('truetype');
}
 @font-face {
	 font-family: 'Montserrat';
	 src: url('public/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}
 @font-face {
	 font-family: 'Courier Prime';
	 src: url('public/Courier_Prime/CourierPrime-Regular.ttf') format('truetype');
}
 .body-content {
	 background-color: #121212;
	 color: #fff;
	 font-family: 'Raleway';
}
 .main-content {
	 display: flex;
	 flex-direction: column;
	 margin: 0;
	 padding: 0;
}
 .box {
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;
	 margin: 1rem;
	 padding: 1rem;
	 background-color: #5f4b8b1F;
	 width: fit-content;
}
 .name.box {
	 text-transform: uppercase;
	 font-size: 1.7rem;
	 line-height: 1;
	 padding: 1rem 0 2rem 0;
	 background-color: #121212;
	 font-family: 'Raleway Extra Bold';
	 justify-content: flex-end;
}
 .quote.box {
	 font-family: 'Courier Prime';
	 background-color: #121212;
	 color: #778b4b;
	 padding: 0;
}
 .quote.box .author {
	 text-align: right;
	 font-style: italic;
}
 .photo.box {
	 background-color: #121212;
	 padding: 0;
}
 .photo.box img {
	 filter: brightness(80%);
	 width: 100%;
}
 .link {
	 color: #cf6679;
	 text-decoration: underline;
}
 .project img {
	 width: 100%;
	 margin-left: auto;
	 margin-right: auto;
	 display: block;
}
 .sticky-footer {
	 flex-shrink: none;
}
