@import '~bootstrap/scss/bootstrap';

// hex to be written in lower case letters
// repetitive letter to be shortcutted to 3 letters
$white: #fff;
$white-half-opacity: #FFFFFF80;
$surface-color: #121212;
$primary-ultra-violet: #5F4B8B;
$primary-ultra-violet-twelve-percent: #5F4B8B1F;
$primary-ultra-violet-variant-light: #ACA3C4;
$primary-ultra-violet-variant-dark: #382D5D;
$secondary-sage: #778B4B;
$secondary-sage-variant-medium: #AFC367;
$secondary-sage-variant-light: #D6E1B1;
$dark-error: #CF6679;

@font-face {
  font-family: 'Niramit';
  src: url('public/Niramit/Niramit-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Julius Sans One';
  src: url('public/Julius_Sans_One/JuliusSansOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Fredericka the Great';
  src: url('public/Fredericka_the_Great/FrederickatheGreat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nixie One';
  src: url('public/Nixie_One/NixieOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Stylish';
  src: url('public/Stylish/Stylish-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'VT323';
  src: url('public/VT323/VT323-Regular.ttf') format('truetype');
}

.body-content {
  background-color: $surface-color;
  color: $white;
  font-family: 'Stylish';
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Nixie One';
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
}

.link {
  color: $dark-error;
  text-decoration: underline;
}

.resume,
.quote,
.skills {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.quote {
  font-family: 'VT323';
}

.box {
  // background-image: linear-gradient($half-opacity, $half-opacity), url('public/johannes-plenio-DKix6Un55mw-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2rem;
  padding: 1rem;
  background-color: $primary-ultra-violet-twelve-percent;
  color: $primary-ultra-violet-variant-light;
}

.photo img {
  width: 99%;
}

.project img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.sticky-footer {
  flex-shrink: none;
}

// @media (min-width: 480px) {
//   body {
//     background-color: purple;
//   }
//
//   h1 {
//     font-size: 60px;
//     padding: 80px 20px;
//   }
//
// }
//
// @media (min-width: 768px) {
//   body {
//     background-color: blue;
//   }
//
//   h1 {
//     font-size: 90px;
//     padding: 120px 80px 120px 40px;
//   }
// }
//
// @media (min-width: 992px) {
//   body {
//     background-color: green;
//   }
//
//   h1 {
//     padding: 150px 80px 150px 30px;
//   }
// }
//
// @media (min-width: 1200px) {
//   body {
//     background-color: orange;
//   }
//
//   h1 {
//     padding: 180px 80px 180px 40px;
//   }
//
//   .box {
//   }
// }
