@import '~bootstrap/scss/bootstrap';

$white: #fff;
$white-half-opacity: #ffffff80;
$surface-color: #121212;
$primary-ultra-violet: #5f4b8b;
$primary-ultra-violet-sixteen-percent: #5f4b8b29;
$primary-ultra-violet-thirty-percent: #5f4b8b4D;
$primary-ultra-violet-variant-light: #aca3c4;
$primary-ultra-violet-variant-dark: #382d5d;
$secondary-sage: #778b4b;
$secondary-sage-variant-medium: #afc367;
$secondary-sage-variant-dark: #57693c;
$secondary-sage-variant-medium-sixteen: #afc36729;
$secondary-sage-variant-light: #d6e1b1;
$dark-error: #cf6679;
$material-io-purple: #6200ee;

@font-face {
  font-family: 'Raleway Extra Bold';
  src: url('public/Raleway/Raleway-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  src: url('public/Raleway/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url('public/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Courier Prime';
  src: url('public/Courier_Prime/CourierPrime-Regular.ttf') format('truetype');
}

.body-content {
  background-color: $surface-color;
  color: $white;
  font-family: 'Raleway';
}

.name {
  background-color: $surface-color;
  font-family: 'Raleway Extra Bold';
  text-transform: uppercase;
}

.quote {
  background-color: $surface-color;
  color: $secondary-sage;
  font-family: 'Courier Prime';
  width: fit-content;

  .author {
    font-style: italic;
    text-align: right;
  }
}

.photo {
  img {
    filter: brightness(80%);
  }
}

.btn-primary {
  background-color: $secondary-sage-variant-dark;
  border-color: $white;
  border-radius: 1px;
  color: $white;
  border-width: 1px;

  &:hover {
    background-color: $white;
    border-color: $secondary-sage-variant-dark;
    color: $secondary-sage-variant-dark;
  }
}

.card {
  border-radius: 0;
  background-color: $primary-ultra-violet-sixteen-percent;
  color: $white;
  padding: 1rem;

  .card-header {
    border-color: $secondary-sage;
  }

  .card-img-top {
    border-radius: 0;
  }

  .card-link {
    margin: .5rem 0;
    justify-content: flex-end;
  }
}

.link {
  color: $dark-error;
  text-decoration: underline;
}

.footer {
  background-color: $primary-ultra-violet-sixteen-percent;
  color: $white-half-opacity;
  font-size: .8rem;
  text-align: center;
}
