@import '~bootstrap/scss/bootstrap';

$white: #fff;
$white-half-opacity: #ffffff80;
$surface-color: #121212;
$primary-ultra-violet: #5f4b8b;
$primary-ultra-violet-sixteen-percent: #5f4b8b29;
$primary-ultra-violet-thirty-percent: #5f4b8b4D;
$primary-ultra-violet-variant-light: #aca3c4;
$primary-ultra-violet-variant-dark: #382d5d;
$secondary-sage: #778b4b;
$secondary-sage-variant-medium: #afc367;
$secondary-sage-variant-dark: #57693c;
$secondary-sage-variant-medium-sixteen: #afc36729;
$secondary-sage-variant-light: #d6e1b1;
$dark-error: #cf6679;
$material-io-purple: #6200ee;

@font-face {
  font-family: 'Raleway Extra Bold';
  src: url('public/Raleway/Raleway-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  src: url('public/Raleway/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Courier Prime';
  src: url('public/Courier_Prime/CourierPrime-Regular.ttf') format('truetype');
}

.body-content {
  background-color: $surface-color;
  color: $white;
  font-family: 'Raleway';
}

.heading {
  background-color: $surface-color;
  font-family: 'Raleway Extra Bold';
  font-size: 2.5rem;
  padding: 0;
  text-transform: uppercase;
}

h3 {
  font-size: 1.7rem;
}

.quote {
  background-color: $surface-color;
  color: $secondary-sage;
  font-family: 'Courier Prime';
  width: fit-content;

  .author {
    font-style: italic;
    text-align: right;
  }
}

.photo {
  img {
    filter: brightness(80%);
  }
}

.nav {
  margin: 1rem;

  .row {
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    .menu-item {
      padding: .5rem;

    }

    .link {
      color: $dark-error;
      text-decoration: underline;

      &:hover {
        background-color: $white;
      }
    }
  }
}

.btn-primary {
  background-color: $secondary-sage-variant-dark;
  border-color: $white;
  border-radius: 1px;
  border-width: 1px;
  color: $white;

  &:hover {
    background-color: $white;
    border-color: $secondary-sage-variant-dark;
    color: $secondary-sage-variant-dark;
  }
}

.card {
  background-color: $primary-ultra-violet-sixteen-percent;
  border-radius: 0;
  color: $white;
  padding: 1rem;

  .card-header {
    border-color: $secondary-sage;
  }

  .card-img-top {
    border-radius: 0;
  }

  .card-link {
    justify-content: flex-end;
    margin: .5rem 0;
  }
}

.project-paragraph {
  text-align: justify;
}

.about-this-site {
  .card {
    margin: 1rem;
    padding: 1rem;
  }

  .card-body {
    text-align: justify;
  }

  .repo-link {
    color: $dark-error;
    text-decoration: underline;

    &:hover {
      background-color: $white;
    }
  }
}

.about-me {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .about-me-box {
    background-color: $primary-ultra-violet-sixteen-percent;
    border-bottom: .03rem solid $secondary-sage;
    border-radius: 0;
    border-top: .03rem solid $secondary-sage;
    margin: 0;
    padding: 1rem 0;
    text-align: center;
  }

  .connecting-line {
    border: .03rem solid $secondary-sage;
    height: 2rem;
  }
}

.skills {
  .col-md-2 {
    max-width: 118px;
  }

  .col-md-3 {
    max-width: 150px;
  }

  .col-md-4 {
    max-width: 180px;
  }

  .row {
    align-items: center;
  }

  p {
    margin-top: 1rem;
  }

  .heroku {
    max-width: 100px;
  }

  .styled-components {
    font-size: .9rem;
  }

  .mongo {
    p {
      margin-top: 2rem;
    }
  }
}

.footer {
  background-color: $primary-ultra-violet-sixteen-percent;
  color: $white-half-opacity;
  font-size: .8rem;
  padding: 1rem;
  text-align: center;
}
